*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .width_100{
    width: 100%;
  }

  .active-cyan input[type=text] {
    border-bottom: 1px solid #4dd0e1;
    box-shadow: 0 1px 0 0 #4dd0e1;
  }
  .active-cyan .fa, .active-cyan-2 .fa {
    color: #4dd0e1;
  }