footer{
    margin-top: 100px;
    .container{
        margin:auto;
        
        .row_footer{
            border-bottom: 1px solid $grey;

            ul{
                line-height: 30px;
                @include ulstyle;

                h4{
                    color: $grey;
                }

                a{
                    @include astyle;
                    color: $grey;
                    font-size: 16px;
                }
            }
        }
        .copyright{
            text-align: center;
            color: $grey;
            padding: 25px 0;
        }
    }
}