footer{
    background-color: rgb(255, 255, 255);
    margin-top: 20px;
        .footer-list{
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            border-bottom: 1px solid $grey;

            h4{
                color: $grey;
                padding-top: 50px;
            }
            ul{
                color: $grey;
                line-height: 30px;
                list-style: none;
            }
        }
        .copyright{
            text-align: center;
            color: $grey;
            padding: 25px 0;
        }
}