.container_message{
    width: 15%;
    margin:0 50px;
    
    h6{
        font-weight: bold;
        color:$logoColor;
    }
}

.container{

    h2{
        text-align: center;
        margin: 20px 0;
        font-weight: bolder;
        color: $logoColor;
    }

    .w-100 {
        width: 50% !important;
        margin: auto;
        border-radius: 1%;
    }
    .carousel-control-prev {
        left: 10%;
    }

    .carousel-control-next {
        right: 10%;
    }

    .container_card{
        margin-top: 40px; 
    }

    h3, h4{
        color: $logoColor;
    }
    
    p{
       color: #02525A;
    }
    
    .form-group{
        margin: 20px 0;
    }

    .button_submit {
        margin-bottom: 50px;
    }
    .maps{
        margin: 20px 0;
    }
        #map {
            height: 100%;
            width: 100%;
          }

}