/* .container_apartments{
    width: 90%;
    margin:auto;

    .apartments_premium {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        .apartment_premium_box{
            width: 500px;
            height: 515px;
            border: 3px solid red;
            margin: 20px;
            padding: 10px;
    
            h3{
                text-align: center;
            }
    
            img{
                max-width: 50%;
                max-height: 50%;
            }

            p{
                overflow-y: auto;
                height: 150px;
                margin-top: 20px;
            }
        }
    }
    
    .apartments_free{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    
        .apartment_free_box{
            width: 500px;
            height: 515px;
            border: 1px solid black;
            margin: 20px;
            padding: 10px;
    
            img{
                max-width: 50%;
                max-height: 50%;
            }
            h3{
                text-align: center;
            }
            p{
                overflow-y: auto;
                height: 150px;
                margin-top: 20px;
            }
        }
    }
} */

.container_apartments{
    width: 90%;
    margin:auto;
    background-color: #aaa0a0;
    border: 1px solid black;
    border-radius: 15px;
    -webkit-box-shadow: 4px 4px 44px 10px rgba(0,0,0,0.75);
    -moz-box-shadow: 4px 4px 44px 10px rgba(0,0,0,0.75);
    box-shadow: 4px 4px 44px 10px rgba(0,0,0,0.75);
    

    .title {
        color: #1a1a1a;
        text-align: center;
        margin-bottom: 10px
    }
    
    .content {
        position: relative;
        width: 90%;
        max-width: 400px;
        margin: auto;
        overflow: hidden
    }
    
    .content .content-overlay {
        background: rgba(0, 0, 0, 0.7);
        position: absolute;
        height: 99%;
        width: 100%;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        opacity: 0;
        -webkit-transition: all 0.4s ease-in-out 0s;
        -moz-transition: all 0.4s ease-in-out 0s;
        transition: all 0.4s ease-in-out 0s
    }
    
    .content:hover .content-overlay {
        opacity: 1;
    }
    
    .content-image {
        width: 100%;
    }
    
    img {
        box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
    }
    
    .content-details {
        position: absolute;
        text-align: center;
        padding-left: 1em;
        padding-right: 1em;
        width: 100%;
        top: 50%;
        left: 50%;
        opacity: 0;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        -webkit-transition: all 0.3s ease-in-out 0s;
        -moz-transition: all 0.3s ease-in-out 0s;
        transition: all 0.3s ease-in-out 0s;
    }
    
    .content:hover .content-details {
        top: 50%;
        left: 50%;
        opacity: 1;
    }
    
    .content-details h3 {
        color: $white;
        font-weight: 500;
        letter-spacing: 0.15em;
        margin-bottom: 0.5em;
        text-transform: uppercase;
    }
    
    .content-details p {
        color: $white;
        font-size: 0.8em;
    }
    
    .fadeIn-bottom {
        top: 80%;
    }

    .premium_class{
        border: 3px solid $yellow;
        border-radius: 10px;
    }

    .premium_class:hover {
        border: 3px solid $cyan;
        border-radius: 10px;
    }

    .content_free {
        border: 3px solid transparent;
        transition: border 1s;
        border-radius: 10px;
    }
    

    .random_show{
        opacity: 0.5;
    }

    .random_show:hover{
        opacity: 1;
        .content_free:hover {
            border: 3px solid $cyan;
            border-radius: 10px;

        }
    }

    .random_show.active{
        opacity: 1;
    }
}

.container{
    .info_list{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        ul{
            @include ulstyle;
            width: 50%;
        }

        img{
            max-width: 100%;
        }
    }
    h2{
        text-align: center;
        margin: 20px 0;
    }

    .form-group{
        margin: 20px 0;
    }

    .button_submit {
        margin-bottom: 50px;
    }
}

  
  /* info apartement */
 /*  .container{
    .card{
        display: flex;
        flex-direction: column;
        max-width: 100%;
        word-wrap: break-word;
        margin: auto;
        border: 1px solid #F8FAFC;
        background-color:#F8FAFC;
        
        .container_img_overlay{
            margin:auto;
            position: relative;
  
            .card-img{
                flex-shrink: 0;
                margin:auto;
            }
  
            .card-img-overlay {
                position: absolute;
                top:85%;
                color: $white;
                background-color:rgba(192,192,192,0.3);}
            }
        
        }
        .container_card{
            display:flex;
            justify-content: space-between;
            margin: 15px;
        
  
            .container_row{
                display:flex;
                justify-content: space-between;
                margin-top: 20px;
  
                .form-group{
                    margin: 20px 0;
  
                    button{
                        margin: 20px 0;
                    }
                }
  
        }
    }
  
  } */
  
    /* .info_list{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        ul{
            @include ulstyle;
            width: 50%;
        }
  
        img{
            max-width: 100%;
        }
    }
  */
