.container{

    h2{
        text-align: center;
        margin: 20px 0;
    }

    .form-group{
        margin: 20px 0;
    }

    .button_submit {
        margin-bottom: 50px;
    }
    .maps{
        margin: 20px 0;
    }
        #map {
            height: 100%;
            width: 100%;
          }

}