.container_apartments{
    width: 90%;
    margin:auto;

    .apartments_premium {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        .apartment_premium_box{
            width: 300px;
            border: 3px solid red;
            margin: 20px;
            padding: 10px;
    
            h3{
                text-align: center;
            }
    
            img{
                width: 200px;
            }
        }
    }
    
    .apartments_free{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    
        .apartment_free_box{
            width: 300px;
            border: 1px solid black;
            margin: 20px;
            padding: 10px;
    
            img{
                width: 200px;
            }
        }
    }
}