#main_navbar{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 90px;
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999;
    background-color: #001c29;

    .nav-link{
        color: #39C172;
    }
    .links{
        a{
            text-decoration: none;
        }
    }

    .navbar-collapse {
        flex-grow: 1;
        align-items: baseline;

        h6{
            margin: 5px;
        }
    }

    .navbar-nav{
        padding: 15px;
        background-color: transparent;

        .btn-group a{
            padding: 0 5px;
        }
    }

    .form-inline{
        .input-group{
            width: 100%;
        }
    }

}