#main_navbar{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 90px;
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999;
    background: rgb(1,34,37);
background: linear-gradient(7deg, rgba(1,34,37,1) 51%, rgba(2,102,112,1) 100%);

    .nav-link{
        color: $blue;
    }
    .links{
        a{
            text-decoration: none;
        }
    }

    .navbar-collapse {
        flex-grow: 1;
        align-items: baseline;

        h6{
            margin: 5px;
        }
    }

    .navbar-nav{
        padding: 15px;
        

        .btn-group a{
            padding: 0 5px;
        }
    }

    .form-inline{
        .input-group{
            width: 100%;
        }
    }

}