.navbar{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 90px;

    .links{
        a{
            text-decoration: none;
            color: rgba(0, 0, 0, 0.5);
        }
    }

    .navbar-collapse {
        flex-grow: 1;
        align-items: baseline;

        h6{
            margin: 5px;
        }
    }
}