#search_apartments_premium{
    width: 90%;
    margin:auto;

    .card-deck{
        margin: 0;
        .change_class{
            flex: 0 0 100%;
            margin-top: 25px;
            border: 1px solid rgba(0, 0, 0, 0.125);
        }
        .premium_class{
            border: 3px solid red;
        }
    }
}