// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$white: #f8f9fa;
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow:#fef9c7;
$green: #026670;
$teal: #4dc0b5;
$cyan: #86b3d1;
$soft_black: #474853;
$grey: rgb(156, 156, 156);